<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>To Do</title>
    </head>
  <body>
    <%= yield %>
  </body>
</br>
</br>
</br>
<button>
  <a href="/people" style="color: #1C1C1C">Back to People</a>
</button>
  <button><a href="/houses" style="color: #1C1C1C";>
    Houses
  </a>
</p>
</html>
