<h1> Add House </h1>
<form action="/houses/new" method="post">
  <input type="text" name="name" autofocus>
  <input type="text" name="sigil">
  <input type="text" name="motto">
  <button>Add</button>
</form>

