<h1> Add Character </h1>
<form action="/people/new" method="post">
  <input type="text" name="name" placeholder="Name" autofocus>
  <input type="text" name="weapon" placeholder="Weapon">
  <input type="int" name="age" placeholder="Age">
  <input type="text" name="image" placeholder="Image URL">
  <button>Add Character</button>
  </br>
  </br>
  House:
  <select name="house_id">
    <% @houses.each do |house| %>
      <option value= "<%= house['id'] %>">
        <%= house['name'] %>
      </option>
    <% end %>
  </select>
  </br>
  </br>

</form>
