<h1> Add House </h1>
<form action="/houses/new" method="POST">
  <input type="text" name="name" placeholder="House Name">
  <input type="text" name="sigil" placeholder="Sigil URL">
  <input type="text" name="motto" placeholder="Motto">
  <button>Add House</button>
</form>

